# Node.js modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Production
build/
dist/

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Next.js build files
.next/

# Nuxt.js build files
.nuxt/
